<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="FMBoardMapper">

    <!-- 게시판 목록 개수 -->
    <select id="selectBoardCount" statementType="PREPARED" parameterType="map" resultType="int">
        select count(PERSON_SEQ)
          from T_PERSON
         where USE_YN = 'Y'
        <if test="@org.apache.commons.lang.StringUtils@isNotBlank(searchType)">
            <if test="searchType == 'NAME' and @org.apache.commons.lang.StringUtils@isNotBlank(searchText)">
                and NAME like concat('%', #{searchText}, '%')
            </if>
            <if test="searchType == 'AGE' and @org.apache.commons.lang.StringUtils@isNotBlank(searchText)">
                and AGE like concat('%', #{searchText}, '%')
            </if>
        </if>
    </select>


    <!-- 게시판 목록 -->
    <select id="arraysBoard" statementType="PREPARED" parameterType="map" resultType="map">
        select PERSON_SEQ   "personSeq"
             , NAME         "name"
             , AGE          "age"
             , JOB          "job"
          from T_PERSON
         where USE_YN = 'Y'
        <if test="@org.apache.commons.lang.StringUtils@isNotBlank(searchType)">
            <if test="searchType == 'NAME' and @org.apache.commons.lang.StringUtils@isNotBlank(searchText)">
                and NAME like concat('%', #{searchText}, '%')
            </if>
            <if test="searchType == 'AGE' and @org.apache.commons.lang.StringUtils@isNotBlank(searchText)">
                and AGE like concat('%', #{searchText}, '%')
            </if>
        </if>
         order by PERSON_SEQ desc
         limit ${startNo}, ${pagePer}
    </select>

    <!-- 게시판 상세 -->
    <select id="selectBoard" statementType="PREPARED" parameterType="map" resultType="map">
        select PERSON_SEQ   "personSeq"
             , NAME         "name"
             , AGE          "age"
             , JOB          "job"
             , REG_DT       "regDate"
             , REG_ID       "regID"
             , MOD_DT       "modDate"
             , MOD_ID       "modID"
          from T_PERSON
         where PERSON_SEQ = #{personSeq}
    </select>

    <!-- 게시판 등록 -->
    <insert id="insertBoard" statementType="PREPARED" parameterType="map">
        insert into T_PERSON (
               NAME
             , AGE
             , JOB
             , REG_DT
             , REG_ID
             , MOD_DT
             , MOD_ID
        ) values (
               #{name}
             , #{age}
             , #{job}
             , date_format(now(), '%Y%m%d%H%i%s')
             , '현재 로그인 사용자'
             , date_format(now(), '%Y%m%d%H%i%s')
             , '현재 로그인 사용자'
        )
    </insert>

    <!-- 게시판 수정 -->
    <update id="updateBoard" statementType="PREPARED" parameterType="map">
        update T_PERSON
           set NAME = #{name}
             , AGE = #{age}
             , JOB = #{job}
             , MOD_DT = date_format(now(), '%Y%m%d%H%i%s')
             , MOD_ID = '현재 로그인 사용자'
         where PERSON_SEQ = #{personSeq}
    </update>

    <!-- 게시판 삭제 -->
    <update id="deleteBoard" statementType="PREPARED" parameterType="map">
        update T_PERSON
           set USE_YN = 'N'
         where PERSON_SEQ = #{personSeq}
    </update>
</mapper>