<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bvdMap">

        <!-- 게시판 목록조회 -->
        <select id="arraysBVD" statementType="PREPARED"
                parameterType="seunghee.board.vo_default.BvdSearchVO"
                resultType="seunghee.board.vo_default.BvdDTO">
            select TP_PK,
                TP_NAME,
            TP_AGE,
            TP_JOB
                from T_PERSON
                where TP_DEL_YN = 'N'
                    <if test="searchType == 'NAME' and searchText != '' and searchText != null">
                        and TP_NAME like concat('%', #{searchText}, '%')
                    </if>
                    <if test="searchType == 'AGE' and searchText != '' and searchText != null">
                        and TP_AGE like concat('%', #{searchText}, '%')
                    </if>
                    order by TP_PK desc
                        limit ${startNo}, ${pagePer}
        </select>

        <!-- 게시판 목록조회 개수 -->
        <select id="selectBVD_PK_Count" statementType="PREPARED"
                parameterType="seunghee.board.vo_default.BvdSearchVO"
                resultType="int">
            select count(TP_PK) from T_PERSON
                where TP_DEL_YN = 'N'
                    <if test="searchType == 'NAME' and searchText != '' and searchText != null">
                        and TP_NAME like concat('%', #{searchText}, '%')
                    </if>
                    <if test="searchType == 'AGE' and searchText != '' and searchText != null">
                        and TP_AGE like concat('%', #{searchText}, '%')
                    </if>
        </select>

</mapper>