.search1_com_sc form {
    height: 30px;
    margin: 10px 0 20px 0;
    display: flex;
    font-size: 13px;
}
.search1_com_sc label {
    font-weight: bold;
    line-height: 28px;
    text-align: center;
    min-width: 77px;
}
.search1_com_sc input {
    width: 100px;
    border: none;
    border-left: 1px solid #ced4da;
    line-height: 28px;
    padding-left: 10px;
    color: #32363a;
}
.search1_com_sc button {
    width: 65px;
    height: 30px;
    color: white;
    background: #0A6ED1;
    border: none;
    outline: none;
    border-radius: 5px;
    line-height: 30px;
}
.search1_com_sc *:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.search1_com_sc_date {
    background: #E9ECEF;
    display: flex;
    align-items: stretch;
    padding: 0;
    border: 1px solid #ced4da;
    border-radius: 5px;
}
.search1_com_sc_date input[type="date"]::-webkit-calendar-picker-indicator,
.search1_com_sc_date input[type="time"]::-webkit-calendar-picker-indicator {
    display: none;
}
.search1_com_sc_type {
    background: #E9ECEF;
    display: flex;
    align-items: stretch;
    padding: 0;
    border: 1px solid #ced4da;
    border-radius: 5px;
}
.search1_com_sc_type select {
    width: 100px;
    padding-left: 5px;
    border: none;
    border-left: 1px solid #ced4da;
    height: 28px;
}