/** Table List */
.com_table_list_01 table{
    width:100%;
    border-collapse: separate;
    border-spacing: 0;
    table-layout: fixed;
    font-size:13px;
}
.com_table_list_01 .header {
    border-top:solid 1px #d9d9d9;
    width: 100%;
    display: flex;
    background-color:#f2f2f2;
    height: 30px;
    line-height: 30px;
    padding-right: 15px;
}
.com_table_list_01 .header div {
    padding:0 20px;
}
.com_table_list_01 .body {
    height:calc(100% - 120px);
    overflow-y: auto;
    background-color:#fff;
    border-bottom: 1px solid #e5e5e5;
}
.com_table_list_01 table{
     width:100%;
     border-collapse: separate;
     border-spacing: 0;
     table-layout: fixed;
     font-size:13px;
 }
.com_table_list_01 table td {
    padding: 5px 20px;
    font-weight:normal;
    border-bottom:1px solid #e5e5e5;
    overflow : hidden;
    white-space : nowrap;
    text-overflow : ellipsis;
    height: 30px;
    text-align: left;
}
.com_table_list_01 table tr:hover td {
    background-color:#f2f2f2;
    cursor:pointer;
    font-weight:bold;
}
.com_table_list_01 .body::-webkit-scrollbar {
    width: 15px;
}
.com_table_list_01 .body::-webkit-scrollbar-thumb {
    background-color: #949494;
    border-radius: 5px;
    background-clip: padding-box;
    border: 2px solid transparent;
}
.com_table_list_01 .body::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 5px;
}
.com_table_list_01 .page {
    margin: 18px auto 20px auto;
    display: flex;
    justify-content: center;
    /*width: 306px;*/
    height: 32px;
}
.com_table_list_01 .page div {
    float: left;
    width: 32px;
    height: 32px;
    padding-top:5px;
    padding-bottom:5px;
    font-size: 13px;
    text-align: center;
    background: #fff;
    border:1px solid #e5e5e5;
    border-spacing: 0;
    margin:1px;
    border-radius: 5px;
    color:#32363a;
}
.com_table_list_01 .page div:hover {
    background: #f5faff;
    cursor:pointer;
}
.com_table_list_01 .page .on {
    background: black !important;
    color: white !important;
}
.com_table_list_01 .page .on:hover {
    background: black !important;
}
.com_table_list_01 .page .off {
    background: #eee !important;
}
.com_table_list_01 .page .off:hover {
    background: #eee !important;
    cursor:default !important;
}







.com_table_view_01 table {
    width: 100%;
    table-layout: fixed;
}
.com_table_view_01 th {
    background: #f2f2f2;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    border: 1px solid #d9d9d9;
}
.com_table_view_01 td {
    background: white;
    border: 1px solid #d9d9d9;
    padding: 5px 10px;
    overflow : hidden;
    white-space : nowrap;
    text-overflow : ellipsis;
    outline: none;
}
.com_table_view_01 input {
    width: 100%;
    padding-left: 10px;
}
.com_table_view_01 .readonly {
    background: #eee;
    border: 1px solid black;
}