.brd_pg {
    margin: 18px auto 20px auto;
    width: 280px;
    height: 32px;
}
.brd_pg div {
    float: left;
    width: 32px;
    padding-top:5px;
    padding-bottom:5px;
    font-size: 13px;
    text-align: center;
    background: #fff;
    border:1px solid #e5e5e5;
    border-spacing: 0;
    margin:1px;
    border-radius: 5px;
    color:#32363a;
}
.brd_pg div:hover {
    background: #f5faff;
    cursor:pointer;
}